@section Scripts
{
   <script src="js/SwitchLanguage.js"></script> 
}


     <link href="~/css/SwitchLanguage/SwitchLanguage.css" rel="stylesheet"/>



<div class="switch-languge">
   @SwitchLanguage.Localization.SwitchLanguage.Switch
</div>

<div class="footer">
    Языки: <span class="lang">ru-RU</span> <span class="lang">en-EN</span>
</div>

